#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;	/* diese Änderungen sind dann für die ganze Webseite*/
	font-family: arial, sans-serif; /* font-family hat den Vorteil, dass wenn Browser die ausgewählte Schrift nicht hat, er die nächste auswählt*/
}

body {
	background-color: #EDEBE8
}

header {
	/* padding: 10px; */ /*Rand um das Logo in ALLE Richtungen */
	padding-bottom: 10px;
	padding-top: 10px;
	height: 100px;
	text-align: center; /* Logo mittig*/
}

nav {
	text-align: center; /* Navigation mittig*/
}

nav ul {
	list-style-type: none;	/* keine Aufzählungspunkte*/
}

nav li {
	display: inline; /* Nav items sollen nebeneinander statt übereinander sein*/
	margin-right: 40px;
}

a {
	color: #777;					/* Schriftfarbe*/
	text-decoration: none;			/* Kein unterstrichen*/
}

section {
  width: 603px; /* 960-310(aside)=650 -> 603=650- 15 -15 -15 -1-1 */
  float: left;
	padding: 15px; 	/* Innenabstand zu allen Seiten */	
	margin-top: 15px;	/* Außenabstand */
	margin-right: 15px;
	background-color: #F2F2F2;
	border: 1px solid #DEDCD9;
	border-radius: 5px;		/* Abgerundete Ecken */
}

.article { 			/* Für Klassen einen Punkt*/
	height: 160px;
	margin-top: 15px;  /* Außenabstand oben*/
	margin-bottom: 50px;
}

.article img { 
	height: 130px;
	float: left;
	padding: 5px; /* Dadurch ist Rand -> 5px Lücke -> image */
	margin-right: 10px;
	border: 1px solid #DEDCD9;
}

.article a {
	font-size: 18px;
}

aside {
  width: 258px;
  float: right;
	padding: 25px;
	margin-top: 15px;
	background-color: #F2F2F2;
	border: 1px solid #DEDCD9;
	border-radius: 5px;
}

.sidebar img {
	height: 100px;
	padding: 5px;
	margin-top: 15px;
	border: 1px solid #DEDCD9;	
}

.sidebar a {
	font-size: 18px;
	padding: 5px;
}

.sidebar p {
	padding: 5px;
}

 footer {
  height: 50px;
  clear: both;		/* ausgereichtet auf beide Seiten */
}
